html {
	scroll-behavior: smooth;
}

.background-page {
	font-family: Noto Sans;
	background-color: #1c1c1c;
	color: white;
	padding-left: 2em;
	padding-right: 23em;
	padding-top: 1em;
}

.sidenav {
  height: 100%; /* Full-height, "auto" height */
  width: 24%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #234252; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  right: 0em;
  text-align: center;
  font-family: Noto Sans;
  color: white;
}

#landingLogo {
	font-family: Noto Sans;
	position: fixed;
    top: 0.5em;
    left: 8px;
    z-index: 998;
    font-size: 1em;
    width: 0%;
    height: 0%;
    transition: all 1s;
    cursor: pointer;
}

m-v-logo .logo-ring {
	position: absolute;
	display: block;
	z-index: 0;
}
.logo-ring {
	position: fixed;
	top: -0.51em;
	height: 2.66em;
	left: -0.475em;
	width: 1.66em;
	filter: opacity(50%) contrast(33%);
}

/* The navigation menu links */
.google {
  font-family: sans-serif typeface;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  border-radius: 28px;
  display: inline;
  line-height: 2em;
  padding: 0.5em 2.5em 0.5em 2.5em;
  background-color: #4885ed;
}

.google:hover {
	background-color: white;
	color: black;
	transition-duration: 0.5s;
}

.start {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  border-radius: 2rem;
  display: inline-block;
  line-height: 2em;
  padding: 0em 2em 0em 2em;
  background-color: #5aa4c9;
  filter: drop-shadow(2px 4px 6px black);
}

.start:hover {
	color: black;
	transition-duration: 0.5s;
}

.login {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  border-radius: 28px;
  display: inline-block;
  line-height: 2em;
  padding: 0em 2em 0em 2em;
  background-color: #5aa4c9;
}

.login:hover {
	background-color: white;
	color: white;
	transition-duration: 0.5s;
}

.downloadButtons {
	margin-top: 10em;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.top-content {
	text-align: right;
}

.Title {
	letter-spacing: 1px;
	color: #ABABAB;
	display: inline;
}

.M {
	color: white;
	display: inline;
	border-bottom: .05em solid #e23203;
}

* {
  box-sizing: border-box;
}

h2 {
	font-size: 2.5em;
	text-align: center;
	text-shadow: 0 0 1rem #000;
	filter: drop-shadow(2px 4px 6px black);
}

h3 {
	font-size: 1.5em;
	color: #8ebcd3;
	filter: drop-shadow(2px 4px 6px black);
}

h4 {
	font-size: 1.5em;
	filter: drop-shadow(2px 4px 6px black);
}

h5 {
	font-size: 1.5em;
	text-align: center;
	filter: drop-shadow(2px 4px 6px black);
}

p {
	text-align: center;
	padding: 5px;
	filter: drop-shadow(2px 4px 6px black);
	font-size: 15px;
}

.bottom-content {
	font-family: Noto Sans;
	text-align: center;
}

.contact {
	text-align: center;
	list-style-type: none;
	font-size: 12px;
}

li {
	display: inline;
	padding: 2.5em;
	filter: drop-shadow(2px 4px 6px black);
}

.fa {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #ABABAB;
}

.email {
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top: 10px;
  font-size: 1em;
  border-radius:4px;
}

.password {
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}

.links {
	margin-top: -0.5em;
}

.video1 {
	-webkit-transition:all 1s;
	border-radius: 25%;
	width: 7.5rem;
	filter: drop-shaow(2px 4px 6px black);
}

.video1:hover {
	border-radius: 0%;
	-webkit-transition: 1s;
	-webkit-transform:scale(3);
	z-index: 1;
	position: relative;
}

.video2 {
	-webkit-transition:all 1s;
	border-radius: 50%;
	width: 12rem;
	overflow: hidden;
	filter: drop-shadow(2px 4px 6px black);
}

.video2:hover {
	border-radius: 0%;
	-webkit-transition: 1s;
	-webkit-transform:scale(2);
	z-index: 1;
	position: relative;
}

.video3 {
	-webkit-transition:all 1s;
	border-radius: 50%;
	width: 12rem;
	filter: drop-shadow(2px 4px 6px black);}

.video3:hover {
	border-radius: 0%;
	-webkit-transition: 1s;
	-webkit-transform:scale(2);
	z-index: 1;
	position: relative;
}

.column {
  float: left;
  width: 33.33%;
  padding: 0.5em;
 Only for demonstration */
  overflow: hidden;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;

}
